:root{
    --lightGray00:#b7b7b7;       /* Standar Text */
    --darkGray00:#434343;     /* Background */
    --gold00: #bf9000;        /* Titles or H1 */
    --saturatedGold00:#bc8e3c;     /* Section Highlights No text */
    --silver00:#a19c91;       /* H2 */
    --bronze00:#ab9d81;       /* H3 */
    --saturatedYellow00:#e3ab47;       /* Emphasized text */

    --montserrat:'montserrat';
    --comfortaa:'comfortaa';
}
@font-face {
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Montserrat/static/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
    font-family: comfortaa;
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Comfortaa/static/Comfortaa-Regular.ttf') format("truetype");
}
body, header, main{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--montserrat);
    
    .Banner{
        display: flexbox;
        button{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 50px;

            background: var(--darkGray00);
            font-family: var(--comfortaa);
            color: var(--saturatedYellow00);
            font-size: larger;
            border: 3px solid var(--bronze00);
            border-radius: 10%;
        }
        img{
            overflow: hidden;
            width: 180px;
            height: 180px;
            object-fit: cover;
        }
    }
}
body{
    background: linear-gradient(
        to top, 
        var(--lightGray00) 0%, 10%,
        var(--darkGray00) 80%, 100%,
        var(--saturatedGold00) 110%);
    margin: 0;
    height: 100vh;
    justify-content: center;
    gap: 20px;

    figure{
        overflow: hidden;
        width: 225px;
        height: 225px;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 3px solid var(--bronze00);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.2);
            object-position: 50% 10%;
        }
    }
}