:root{
    --customGray:#b7b7b7;       /* Standar Text */
    --deepGray:#434343;     /* Background */
    --gold: #bf9000;        /* Titles or H1 */
    --polishedGold:#bc8e3c;     /* Section Highlights No text */
    --silver:#a19c91;       /* H2 */
    --bronze:#ab9d81;       /* H3 */
    --warmYellow:#e3ab47;       /* Emphasized text */

    --raleway:'raleway';
    --comfortaa:'comfortaa';

}
@font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: comfortaa;
    src: url(/Fonts/Comfortaa/static/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: raleway;
    src: url(Raleway-Regular.ttf);
}
body{
    background-color: var(--deepGray);
    font-family: var(--comfortaa);
    margin: 0;
    padding: 0;
}
.header{
    background-color: var(--polishedGold);
    height: 256px;
    margin: 0;
    padding: 0;
}
.header a img{
    height: 100%;
    width: 100%;
}
.menu ul{
    list-style-type: none;
    font-family: var(--comfortaa);
}
.footer{
    background-color: var(--bronze);
}
.footer.navegation{
    list-style: none;
}